footer{
    background-color: rgb(0, 163, 163); height: 300px;
}

section#Redes{
    display: flex;
    font-family: Arial, sans-serif;
    margin: 100px;
    text-indent: 50px;
}

input[type=text], select {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: right;
}

input[type=email], select {
    padding: 12px 20px;
    margin: 10px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    justify-content: right;
}

input[type=submit] {
    width: 100%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 10px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}